/* LoginPage.module.css */
.container {
    font-family: Arial, sans-serif;
    background: linear-gradient(255deg, #ffffff, #c1c4d2);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.form {
    background: linear-gradient(45deg, #9775ff, #94b0ff);
    position: absolute;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(131, 243, 255, 0.2);
    width: 30%;
    height: 50%;
}

.form h1 {
    text-align: center;
    color: rgb(3, 9, 97);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form h2 {
    font-family: cursive;
    text-align: center;
}

.formGroup {
    margin-bottom: 10px;
    font-family: cursive;
}

label {
    display: block;
    font-weight: bold;
}

.input {
    width: 97%;
    padding: 8px;
    border: 1px solid #03414a;
    border-radius: 3px;
    background-color: transparent;
}

.buttoninput {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: block;
    width: 20%;
    padding: 10px;
    background-color: #A268FF;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    font-family: cursive;
}

.button:hover {
    background-color: rgb(126, 84, 255);
}

.signuptag {
    color: rgb(3, 9, 97);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20px;
}